.box1 {
    width: auto;
    height: auto;
    border: 1px dashed goldenrod;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.naim {
    padding: 10px;
}

:host ::ng-deep {
    formly-field-primeng-radio {
        display: flex;
        gap: 4px;
    }
}

@media screen and (max-width: 576px) {
    :host ::ng-deep {
        formly-field-primeng-radio {
            // display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }
}

.card {
    padding: 10px;
    border: 1px dashed white;
}
