<div class="flex gap-4 min-h-full space">
  <div>
    <div>
      <input type="text" #input value="abc" />
    </div>
    <nav class="flex-1 p-4">
      <ul>
        <li>
          <a routerLink="todos">Todo app</a>
        </li>
        <li>
          <a routerLink="auth">Auth</a>
        </li>
        <li>
          <a routerLink="movies">Movies</a>
        </li>
        <li>
          <a routerLink="counter">Counter</a>
        </li>
        <li>
          <a routerLink="roles">Roles</a>
        </li>
        <li>
          <a routerLink="products">Products</a>
        </li>
        <li>
          <a routerLink="users">Users</a>
        </li>
        <li>
          <a routerLink="repos">Repos</a>
        </li>
        <li>
          <a routerLink="countries">Countries</a>
        </li>
        <li>
          <a routerLink="new-todos">New Todos</a>
        </li>
        <li>
          <a routerLink="animes">Animes</a>
        </li>
        <li>
          <a routerLink="my-movies">My movies</a>
        </li>
        <li>
          <a routerLink="projects">Projects</a>
        </li>
        <li>
          <a routerLink="categories">Categories</a>
        </li>
        <li>
          <a routerLink="books">Books</a>
        </li>
        <li>
          <a routerLink="members">Members</a>
        </li>
        <li>
          <a routerLink="people">People</a>
        </li>
        <li>
          <a routerLink="staff">Staff</a>
        </li>
        <li>
          <a routerLink="owners">Owners</a>
        </li>
        <li>
          <a routerLink="types">Types</a>
        </li>
        <li>
          <a routerLink="/">Login</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex-1 bg-red-400 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast></p-toast>
