/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 2em;
}

input,
textarea {
  border: 1px solid #22c1ff !important;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #22c1ff !important;
  border: 1px solid #22c1ff !important;
}