<div class="input-field">
    <input placeholder="  Search" (keyup)="onKeyUp($event)" #input />
</div>

<section style="display: flex; flex-direction: column" class="collection">
    <app-product-detail
        class="collection-item"
        *ngFor="
            let product of productArray | filter: input.value;
            index as index
        "
        [product]="product"
    >
        {{ product }}
    </app-product-detail>
</section>

<p style="margin-top: 1em" *ngIf="selection">Selected: {{ selection }}</p>
